node_modules
dist
out
out_stale_*
electron.vite.config.*.mjs
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Build output
release
*.log
npm-debug.log*
